:root {
  --border-radius: 8px;
  --button-border-radius: 4px;
  --padding-x: 4rem;
  --padding-y: 1rem;
  --secondary-background-color: #f2f2f3;
  --primary-background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}